<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api_doc</title>
    <style>
        p{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <p>uauth 用户模块</p>
    <ul>
        <li><a href="http://180.76.186.192/uauth/auth-token/">/uauth/auth-token/获取token</a></li>
        <li><a href="http://180.76.186.192/uauth/">/uauth/主页</a></li>
        <li><a href="http://180.76.186.192/uauth/login/">/uauth/login/登陆</a></li>
        <li><a href="http://180.76.186.192/uauth/register/">/uauth/register/注册</a></li>
    </ul>
</body>
</html>