<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/his_info.css">
    <title>his-info</title>
</head>
<body>
    <div class="container">
        <!-- // 头像+基本信息 -->
        <ul class="nav nav-pills nav-justified" style="margin-top:20px;">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">his info</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
            <li class="text-right" style="margin-bottom:-10px;"><span class="glyphicon glyphicon-heart-empty is-favorite" style="font-size:20px;color:#ddd;"></span></li>
        </ul>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <img src="/static/img/5.jpg" class="img-responsive img-circle img-avatar" alt="">
            </div>
            <div class="col-sm-8 my-info">
                <div class="username">username  <span class="glyphicon glyphicon-certificate" style="color:#337ab7"></span></div>
                <div class="follow"><span class="follow-span">1024帖子</span><span class="follow-span">1024关注</span><span class="follow-span">1024关注者</span></div>
                <div class="signature">
                    深入了解 Bootstrap 底层结构的关键部分，包括我们让 web 开发变得更好、更快、更强壮的最佳实践
                </div>
            </div>
        </div>
        <!-- // 相册信息 -->

        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="/static/img/3.jpg" alt="" class="img-responsive">
                    <p>contentQQ空间(Qzone)是中国最大的社交网络,是QQ用户的网上家园,是腾...</p>
                    <div><span class="glyphicon glyphicon-picture"></span>&nbsp;111&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;112</div>
                </a>
             </div>
        </div>
        <button type="button" class="btn btn-success btn-block load-more" current="0">加载更多...</button>
    </div>
    <div class="jumbotron" style="margin-top:40px;margin-bottom:30px;">
        <div class="text-center">
            <a href="javascript:">关于我们</a>
            <span style="margin-left:8px;margin-right:8px;">|</span>
            <a href="javascript:">魑魅魍魉</a>
            <span style="margin-left:8px;margin-right:8px;">|</span>
            <a href="javascript:">忠犬罢工</a>
            <span style="margin-left:8px;margin-right:8px;">|</span>
            <a href="javascript:">人与自然</a>
            <span style="margin-left:8px;margin-right:8px;">|</span>
            <a href="javascript:">粤网文[2222]9527号</a>
        </div>
        <div class="text-center">
            Copyright © 2005 - 2018 Tencent.All Rights Reserved.
        </div>
        <div class="text-center">
            不可知之地 版权所有
        </div>
    </div>
</body>
</html>