{% extends "base.html" %}

{% block head-css %}
<style>
    .h1-tip{
        color:red;
        margin-top:50px;
        text-align:center;
    }
    .a-logout, .a-chat, .a-image-index{
        font-size: 18px;
        color: green;
        display: block;
    }
</style>
{% endblock  %}

{% block body %}
    <h1 class="h1-tip">
        恭喜你，<b>{% for message in messages %}{{ message }}{% endfor %}</b>成功
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="a-image-index" href="/image/index/">进入首页</a>
                <a class="a-chat" href="/chat/index/">进入聊天室</a>
                <a class="a-logout" href="/uauth/logout/">退出登陆</a>
            </div>
        </div>
    </div>
{% endblock body %}
{% block body-bottom %}
{% endblock %}