{% extends "base.html" %}

{#导入的头#}
{% block head-css %}
{% endblock head-css %}

{% block head-js %}
{% endblock head-js %}

{% block other %}
    <script>
        $(function(){
            var $search_form = $("#search-form");
            var $search_input = $("#search-input");

            $search_form.submit(function(){
               var keyword = $search_form;
               keyword = keyword.replace(/^\s*/, "");
               if (keyword == ""){
                   return false;
               }
            });
        })
    </script>
{% endblock other %}

{#body里面的#}
{% block body %}

{#    body里面的导航栏#}
    {% block body-header %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <!-- <div class="container-fluid"> -->
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="/image/index/">
                        <img src="/static/img/logo.jpg" alt="" class="navbar-brand" style="padding:5px;">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form id="search-form" class="navbar-form navbar-left" action="/image/search-index/" method="get">
                        <div class="input-group">
                            <input type="text" id="search-input" name="keyword" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn btn-default">Search</button> -->
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/uauth/my-info-page/" style="line-height:16px;"><span class="glyphicon glyphicon-heart text-primary" style="font-size:16px"></span></a></li>
                        <li><a href="/uauth/my-info-page/" style="line-height:16px;"><span class="glyphicon glyphicon-user text-primary" style="font-size:16px"></span></a></li>
                        <!-- <li><a href="#">Link</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock body-header %}

{#    body里面导航栏下面的内容#}
    {% block body-content %}
    {% endblock body-content %}

{% endblock body %}